hr{
    border: 0;
    border-top: 1px solid #000000;
    height: 0;
    
}

hr.azul{
    border-top: 2px solid blue;
}
body{
    font-family: sans-serif;
    margin: 0;
    background: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header{
    display: flex;
    height: 70px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: rgb(255, 0, 0);
}

@media ( max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}


button{
    color: rgb(75, 52, 39);
    text-decoration: none;
    background: linear-gradient(#000000,#ff0000);
    padding: 15px;
    color: white;
}

h1 {
    text-align: center;
    color: #ff0000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 55px;
}
p{
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 23px;

}

          